<div class="container-fluid about-us-bg about-us-page-hover">
        <h1 class="text-center  py-5">About Us</h1>

        <p class="text-center ">@ 2023 CodingCosmos <sup>&copy;</sup></p>

        <div class="">
                <div class="row justify-content-center">
                        <div class="col-md-6 text-center">

                                <p>amol1629@gmail.com</p>
                                <p>chaitranatekar79@gmail.com</p>

                        </div>

                        <div class="col-md-6 text-center pb-5">
                                <a href="https://github.com/amol1629" target="_blank"><img
                                                src="/static/images/icon_github.svg" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Github" alt="">
                                </a>

                                <a href="https://www.linkedin.com/in/amol-rathod-44b4aa230" target="_blank"><img
                                                src="/static/images/icon_linkedin.svg" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="LinkedIn" alt="">
                                </a>

                                <a href="https://t.me/amolrathod1629" target="_blank"><img
                                                src="/static/images/icon_telegram.svg" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Telegram" alt="">
                                </a>

                                <a href="https://wa.me/919657383030" target="_blank"><img
                                                src="/static/images/icon_whatsapp.svg" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Whatsapp" alt="">
                                </a>

                                <a href="https://www.youtube.com/channel/UCg2wirjt_6NTxUUTUiiCYkQ" target="_blank"><img
                                                src="/static/images/icon_youtube.svg" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Youtube" alt="">
                                </a>

                                <a href="mailto:mail@amol1629rathod@gmail.com" target="_blank"><img
                                                src="/static/images/icon_gmail.svg" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Gmail" alt="">
                                </a>

                        </div>
                </div>
        </div>

</div>