<div class="contact-form">
    <section class="contact-us-section">
        <div class="container mb-4 col-lg-6">

            <h2 class=" text-center my-5">Contact Us</h2>

            <div class="row>
                <div class=" col-6">
                <form action="/user-contact-form" method="post">

                    <div class="mb-3">
                        <label for="userName" class="form-label">Full Name</label>
                        <input type="text" name="userName" class="form-control rounded-pill" id="userName"
                            aria-describedby="nameHelp">
                    </div>

                    <div class="mb-3">
                        <label for="userEmail" class="form-label">Email address</label>
                        <input type="email" name="userEmail" class="form-control rounded-pill" id="userEmail"
                            aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="userPhone" class="form-label">Mobile Number</label>
                        <input type="tel" name="userPhone" class="form-control rounded-pill" id="userPhone"
                            aria-describedby="phonelHelp">
                    </div>

                    <div class="textarea">
                        <label for="userFeedback" class="form-label my-2">Feedback</label>

                        <div class="my-2">
                            <textarea class="form-control text-area rounded userFeedback" name="userFeedback"
                                placeholder="Leave a feedback here" id="userFeedback" style="height: 100px"></textarea>
                        </div>
                    </div>

                    <div class="mb-3 text-center">
                        <button type="submit" onclick=" ()" class="btn mt-2 btn-outline-info text-center rounded-pill"
                            id="formSubmit">Submit</button>
                    </div>


                </form>
            </div>
        </div>
</div>