<section class="second-section">
    <div class="second-section-details">


        <div class="container">
            {{!-- Java Course--}}
            <div class="row my-auto my-5 section-block-border java-course" id="services-java-course">

                <h2 class=" text-center my-5 py-3 text-white">Courses</h2>

                <div class="col-md-6 align-self-center">
                    <img src="/static/images/courses_java.svg" alt="" class="img-fluid my-auto" style="height: 350px;">


                </div>

                <div class="col-md-6 my-auto ">
                    <h3 class="text-center my-4">Java Course</h3>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor similique vitae illum
                        aliquam eos tenetur eligendi commodi totam tempora dolorem soluta, tempore suscipit
                        voluptatum,
                        officia, doloribus quisquam quod maxime.
                    </p>

                    <p class="text-center text-warning fw-bold"><span>Price : &#8377 </span> <span> 5 </span></p>

                    <p class="text-center text-warning fw-bold">
                        <a href="https://buy.stripe.com/bIY0147QScqKcAofYY
" class="card-link text-info" target="_blank">Buy Now</a>
                    </p>



                    <div class="row my-4">
                        <ul class="col-lg-6 my-4 col-sm-12 px-5">
                            <h6>Advance Java</h6>
                            <li>Java Database Connectivity (JDBC)</li>
                            <li>Servlet</li>
                            <li>JSP</li>
                            <li>Spring (MVC, Core, JDBC, ORM, AOP)</li>
                            <li>Hibernate ORM Framework</li>
                            <li>Struts</li>
                            <li>JSF</li>
                            <li>Web Services (SOAP and REST)</li>

                        </ul>

                        <ul class="col-lg-6 my-4 col-sm-12 px-5">
                            <h6>Core Java</h6>
                            <li>OOPs</li>
                            <li>Basic java constructors like loops and data types</li>
                            <li>String Handling</li>
                            <li>Collection Framework</li>
                            <li>Multithreading</li>
                            <li>Exception Handling</li>
                            <li>Generics</li>
                            <li>Synchronisation</li>
                            <li>Serialization and De-serialization</li>
                            <li>Concurrent Collection</li>

                        </ul>



                        </ul>
                    </div>
                </div>
            </div>


            {{!-- Python Course --}}
            <div class="row my-auto py-5 section-block-border python-course" id="services-python-course">

                <div class="col-md-6 my-auto ">
                    <h3 class="text-center my-4">Python Course</h3>

                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor similique vitae illum
                        aliquam eos tenetur eligendi commodi totam tempora dolorem soluta, tempore suscipit
                        voluptatum,
                        officia, doloribus quisquam quod maxime.
                    </p>

                    <p class="text-center text-warning fw-bold"><span>Price : &#8377 </span> <span> 4 </span></p>

                    <p class="text-center text-warning fw-bold">
                        <a href="https://pmny.in/aIjcpeaPrfav" class="card-link text-info" target="_blank">Buy Now</a>
                    </p>

                    <div class="row">
                        <ul class="col-lg-6 my-4 col-sm-12 px-5">
                            <h6>Core Python</h6>
                            <li>Introduction to Python</li>
                            <li>Installing Python IDES - Python IDLE and Anaconda</li>
                            <li>Writing Your First Python Program</li>
                            <li>Data Types in Python</li>
                            <li>Variables In Python</li>
                            <li>Typecasting</li>
                            <li>Operators</li>
                            <li>Taking User Input</li>
                            <li>Conditional Statements</li>
                            <li>Python Collection
                                <ul style="list-style-type : square">
                                    <li>Arrays</li>
                                    <li>List</li>
                                    <li>Tuple</li>
                                    <li>Sets</li>
                                    <li>Dictionary</li>
                                </ul>
                            </li>
                            <li>Loops in Python</li>
                            <li>String Manipulation</li>
                            <li>User Defined Functions</li>
                            <li>Lambda Function</li>
                            <li>Importing Modules</li>

                        </ul>

                        <ul class="col-lg-6 my-4 col-sm-12 px-5">
                            <h6>OOPs Python</h6>
                            <li>Basic Object Oriented Programming</li>
                            <li>Creating classes and objects</li>
                            <li>Constructors</li>
                            <li>Inheritance</li>
                            <li>Inbuilt class methods and attributes</li>
                            <li>Multi-level and multiple Inheritance</li>
                            <li>Method Overriding and Data Abstraction</li>
                            <li>Encapsulation and Polymorphism</li>


                        </ul>



                        </ul>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <img src="/static/images/course_python.svg" alt="" class="img-fluid" style="height: 350px;">
                </div>

            </div>


            {{!-- C++ Course --}}
            <div class="row my-auto py-5 section-block-border cpp-course" id="services-cpp-course">



                <div class="col-md-6 align-self-center text-center">
                    <img src="/static/images/course_cpp.svg" alt="" class="img-fluid" style="height: 250px;">
                </div>

                <div class="col-md-6 my-auto ">
                    <h3 class="text-center my-4">C++ Course</h3>

                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor similique vitae illum
                        aliquam eos tenetur eligendi commodi totam tempora dolorem soluta, tempore suscipit
                        voluptatum,
                        officia, doloribus quisquam quod maxime.
                    </p>

                    <p class="text-center text-warning fw-bold"><span>Price : &#8377 </span> <span> 1 </span></p>

                    <p class="text-center text-warning fw-bold">
                        <a href="https://pmny.in/gIgcKeKPeVTa" class="card-link text-info" target="_blank">Buy Now</a>
                    </p>

                    <div class="row">
                        <ul class="col-lg-6 my-4 col-sm-12 px-5">
                            <h6>Basic C++</h6>
                            <li>Basic Syntax</li>
                            <li>Data Types</li>
                            <li>Variable</li>
                            <li>Constants</li>
                            <li>Modifer Types</li>
                            <li>Storage Classes</li>
                            <li>Operators</li>
                            <li>Loops</li>
                            <li>Decision Making Statements</li>
                            <li>Function</li>
                            <li>Numbers</li>
                            <li>String</li>
                            <li>Pointer</li>
                            <li>References</li>
                            <li>Date and Time</li>
                            <li>Basic Input/Output</li>

                        </ul>

                        <ul class="col-lg-6 my-4 col-sm-12 px-5">
                            <h6>Advance C++</h6>
                            <li>Data Structures</li>
                            <li>Classes and Objects</li>
                            <li>Inheritance</li>
                            <li>Overriding</li>
                            <li>Data Abstraction</li>
                            <li>Data Encapsulation</li>
                            <li>Interfaces</li>
                            <li>Files and Streams</li>
                            <li>Exception Handling</li>
                            <li>Dynamic Memory</li>
                            <li>Namespaces</li>
                            <li>Templates</li>
                            <li>Preprocessor</li>
                            <li>Signal Handling</li>
                            <li>Multithreading</li>
                            <li>Web Processing</li>
                            <li>Standard Library</li>


                        </ul>



                        </ul>
                    </div>
                </div>

            </div>

            {{!-- Angular Course --}}
            <div class="row my-auto py-5 section-block-border angular-course" id="services-angular-course">

                <div class="col-md-6 my-auto ">
                    <h3 class="text-center my-4">Angular Course</h3>

                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor similique vitae illum
                        aliquam eos tenetur eligendi commodi totam tempora dolorem soluta, tempore suscipit
                        voluptatum,
                        officia, doloribus quisquam quod maxime.
                    </p>

                    <p class="text-center text-warning fw-bold"><span>Price : &#8377 </span> <span> 3 </span></p>

                    <p class="text-center text-warning fw-bold">
                        <a href="https://pmny.in/eI5M0OQCDqd2" class="card-link text-info" target="_blank">Buy Now</a>
                    </p>

                    <div class="row">
                        <ul class="col-lg-6 my-4 col-sm-12 px-5">

                            <li>Introduction to Web and Angular</li>
                            <li>AngularJS and Building Blocks for Building SPA</li>
                            <li>Modules</li>
                            <li>Forms</li>
                            <li>Filter</li>
                            <li>Expression and Data Binding</li>



                        </ul>

                        <ul class="col-lg-6 my-4 col-sm-12 px-5">

                            <li>Communication</li>
                            <li>Services</li>
                            <li>AngularJS Internal</li>
                            <li>Directives</li>
                            <li>Routing and Navigation</li>
                            <li>Live Project</li>

                        </ul>



                        </ul>
                    </div>
                </div>

                <div class="col-md-6 align-self-center text-center">
                    <img src="/static/images/course_angular.svg" alt="" class="img-fluid" style="height: 100px;">
                </div>

            </div>


            {{!-- C language Course --}}
            <div class="row my-auto py-5 section-block-border c-course" id="services-c-course">



                <div class="col-md-6 align-self-center text-center">
                    <img src="/static/images/course_c.svg" alt="" class="img-fluid text-white" style="height: 200px;">
                </div>

                <div class="col-md-6 my-auto ">
                    <h3 class="text-center my-4">C Language Course</h3>

                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor similique vitae illum
                        aliquam eos tenetur eligendi commodi totam tempora dolorem soluta, tempore suscipit
                        voluptatum,
                        officia, doloribus quisquam quod maxime.
                    </p>

                    <p class="text-center text-warning fw-bold"><span>Price : &#8377 </span> <span> 4 </span></p>

                    <p class="text-center text-warning fw-bold">
                        <a href="https://pmny.in/BrcQ0G6ptN6p" class="card-link text-info" target="_blank">Buy Now</a>
                    </p>

                    <div class="row">
                        <ul class="col-lg-6 my-4 col-sm-12 px-5">
                            <li>Fundamentals of C</li>
                            <li>Operators and Expression</li>
                            <li>Data Types</li>
                            <li>Input-Output Library Functions</li>
                            <li>Control Statments</li>
                            <li>Function</li>
                            <li>Storage Classes</li>
                            <li>Pointer</li>
                            <li>Pointer and Function</li>
                        </ul>

                        <ul class="col-lg-6 my-4 col-sm-12 px-5">
                            <li>Array and Function</li>
                            <li>Dyanamic Memory Allocation</li>
                            <li>String</li>
                            <li>String and Function</li>
                            <li>Command Line Arguments</li>
                            <li>Preprocessor</li>
                            <li>Structure</li>
                            <li>Structure and Function</li>
                            <li>File Handling</li>
                        </ul>
                    </div>
                </div>

            </div>


            {{!-- JavaScript Course --}}
            <div class="row my-auto py-5 section-block-border js-course" id="services-javascript-course">

                <div class="col-md-6 my-auto ">
                    <h3 class="text-center my-4">JavaScript Course</h3>

                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor similique vitae illum
                        aliquam eos tenetur eligendi commodi totam tempora dolorem soluta, tempore suscipit
                        voluptatum,
                        officia, doloribus quisquam quod maxime.
                    </p>

                    <p class="text-center text-warning fw-bold"><span>Price : &#8377 </span> <span> 2 </span></p>

                    <p class="text-center text-warning fw-bold">
                        <a href="https://pmny.in/8rj5uATCjBDd" class="card-link text-info" target="_blank">Buy Now</a>
                    </p>

                    <div class="row">
                        <ul class="col-lg-6 my-4 col-sm-12 px-5">

                            <li>Introduction to Web and Angular</li>
                            <li>AngularJS and Building Blocks for Building SPA</li>
                            <li>Modules</li>
                            <li>Forms</li>
                            <li>Filter</li>
                            <li>Expression and Data Binding</li>



                        </ul>

                        <ul class="col-lg-6 my-4 col-sm-12 px-5">

                            <li>Communication</li>
                            <li>Services</li>
                            <li>AngularJS Internal</li>
                            <li>Directives</li>
                            <li>Routing and Navigation</li>
                            <li>Live Project</li>

                        </ul>



                        </ul>
                    </div>
                </div>

                <div class="col-md-6 text-center align-self-center">
                    <img src="/static/images/course_javascript.svg" alt="" class="img-fluid" style="height: 200px;">
                </div>

            </div>
        </div>
    </div>
</section>