<style>
  .navigation{
    background-image: url("/static/images/bg-2.jpeg");
    background-size: cover;
  }

  .custom-toggler.navbar-toggler {
     border-color: rgb(255,102,203) !important;
 }

</style>

<nav class="navbar navbar-expand-lg navbar-light py-3 navigation ">
  <div class="container-fluid  px-5 text-white">

    <a class="navbar-brand" href="#">
      
      <img src="{{data.brandIconUrl}}" alt="" width="30" height="30" class="d-inline-block align-text-top rounded-pill image-fluid">

      <span class="ps-2 text-white">{{data.brandName}}</span>
    </a>

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navigation-menu">

        {{#each data.links}}

          <li class="nav-item">
          <a class="nav-link active text-warning" aria-current="page" href="{{this.url}}">{{this.label}}</a>
        </li>

        {{/each}}

      </ul>

    </div>
  </div>
</nav>
