<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">

    <style>
        body {
            background-image: url("/static/images/bg-20.jpg");
            background-attachment: fixed;
        }

        h2 {
            color: white;
            text-shadow: 0 0 5px deeppink,
                0 0 25px deeppink,
                0 0 50px deeppink,
                0 0 100px deeppink,
                0 0 200px deeppink;

            font-weight: bold;

            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;

        }

        h2:hover {
            text-shadow: 0 0 5px pink,
                0 0 25px pink,
                0 0 50px pink,
                0 0 100px pink,
                0 0 200px pink;
        }
    </style>

    <title>Sign In Page</title>
</head>

<body>

    {{!-- {{> navbar data=details}} --}}

    {{!-- Navigation bar --}}

    {{> signinupNav sign=signinup}}



    {{!-- Sign in form --}}
    <section class="about-us-section py-5 my-5 ">
        <div class="container">
            <div class="row">

                <div class="col-md-6 align-self-center text-center">
                    <h1 class="text-white">Climb Your Way To Success With CODING COSMOS</h1>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="container-fluid my-5 ">
                        <div class="my-5 py-5  text-white align-self-center w-100 align-self-center">
                            <div class="row justify-content-center">
                                <div class="col ">

                                    <h2 class="text-center">Sign In Here</h2>
                                    <form action="/signin" method="post">
                                        <div class="form-group my-4">
                                            <label for="email">Email address</label>
                                            <input type="email" class="form-control py-2 mt-2" id="email" name="email"
                                                placeholder="Enter email">
                                        </div>
                                        <div class="form-group my-4">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control py-2 mt-2" id="password"
                                                name="password" placeholder="Enter password">
                                        </div>

                                        <div class="text-center py-3">
                                            <button type="submit" id="checkout-button"
                                                class="btn text-white text-center submit-button px-5">Log
                                                In</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>



    {{!-- Information Section --}}
    <section class="about-us-section py-5 my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h1 class="text-white">We Are Here To Make Your Journey Evident.</h1>
                </div>

                <div class="col-md-6 align-self-center">
                    <img src="/static/images/aboutus-1.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>





    <footer class=" py-3 mt-5 footer singup-page-footer">
        <div class="container ">
            <div class="row ">
                <div class="col-12 col-md-4 text-center">
                    <h5 class="text-info">Contact Us</h5>
                    <ul class="list-unstyled">
                        <li>Phone: +91 9657383030</li>
                        <li>Email: amol1629rathod@gmail.com</li>
                        <br>
                        <li>Phone: +91 9284863133</li>
                        <li>Email: chaitranatekar79@gmail.com</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <h5 class="text-info">About Us</h5>
                    <p>By understanding the need of students, we have developed <span
                            class="text-warning fw-bolder">"Coding Cosmos"</span> so that money can not became the
                        barrier in Learning..</p>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <h5 class="text-info">Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/amol1629" target="_blank" class="text-warning">GitHub</a></li>
                        <li><a href="https://www.linkedin.com/in/amol-rathod-44b4aa230" target="_blank"
                                class="text-warning">
                                <img">LinkedIn
                            </a></li>
                        <li><a href="https://t.me/amolrathod1629" target="_blank" class="text-warning">Telegram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>